n8n-workflow-template.json
{
  "name": "ShoreAgents - New Support Ticket Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-ticket",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook - New Ticket",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "new-ticket-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO activity_feed (type, title, description, metadata) VALUES ('ticket_created', '{{ $json.title }}', 'New ticket from {{ $json.client_name }}', '{{ $json }}'::jsonb) RETURNING *"
      },
      "id": "supabase-log",
      "name": "Log to Activity Feed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-connection",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "channel": "support",
        "text": "🎫 New Support Ticket\n\n*Title:* {{ $json.title }}\n*Client:* {{ $json.client_name }}\n*Priority:* {{ $json.priority }}\n*Created:* {{ $now.format('YYYY-MM-DD HH:mm') }}\n\n<{{ $json.ticket_url }}|View Ticket>",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "slack-notify",
      "name": "Notify Slack #support",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [650, 200],
      "credentials": {
        "slackApi": {
          "id": "slack-connection",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.priority }}",
              "value2": "urgent"
            }
          ]
        }
      },
      "id": "check-priority",
      "name": "Is Urgent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM staff_users WHERE role = 'support' AND status = 'active' ORDER BY RANDOM() LIMIT 1"
      },
      "id": "assign-staff",
      "name": "Assign to Support Staff",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [850, 500],
      "credentials": {
        "postgres": {
          "id": "supabase-connection",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "user": "={{ $json.slack_id }}",
        "text": "🚨 *Urgent Ticket Assigned to You*\n\n{{ $node['Webhook - New Ticket'].json.title }}\n\nPlease respond ASAP: {{ $node['Webhook - New Ticket'].json.ticket_url }}"
      },
      "id": "dm-staff-urgent",
      "name": "DM Staff (Urgent)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1050, 400],
      "credentials": {
        "slackApi": {
          "id": "slack-connection",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": "support_tickets",
        "updateKey": "id",
        "columns": {
          "mappings": [
            {
              "column": "assigned_to",
              "value": "={{ $json.id }}"
            },
            {
              "column": "status",
              "value": "assigned"
            },
            {
              "column": "assigned_at",
              "value": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "update-ticket",
      "name": "Update Ticket Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1250, 500],
      "credentials": {
        "postgres": {
          "id": "supabase-connection",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"ticket_id\": $node['Webhook - New Ticket'].json.ticket_id, \"assigned_to\": $json.id, \"message\": \"Ticket processed successfully\" } }}"
      },
      "id": "response",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Webhook - New Ticket": {
      "main": [
        [
          {
            "node": "Log to Activity Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Activity Feed": {
      "main": [
        [
          {
            "node": "Notify Slack #support",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Urgent?": {
      "main": [
        [
          {
            "node": "Assign to Support Staff",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Assign to Support Staff": {
      "main": [
        [
          {
            "node": "DM Staff (Urgent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DM Staff (Urgent)": {
      "main": [
        [
          {
            "node": "Update Ticket Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Ticket Status": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "ShoreAgents",
      "id": "shoreagents"
    },
    {
      "name": "Support",
      "id": "support"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "stepten-app"
  },
  "pinData": {},
  "versionId": "1.0.0"
}






